@font-face {
	font-family: "Poppins Light";
	src: url(assets/fonts/Poppins-Light.ttf) format("truetype");
}

@font-face {
	font-family: "Poppins Medium";
	src: url(assets/fonts/Poppins-Medium.ttf) format("truetype");
}

@font-face {
	font-family: "Poppins Regular";
	src: url(assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Poppins SemiBold";
	src: url(assets/fonts/Poppins-SemiBold.ttf) format("truetype");
}

*,
*::before ,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0 auto;
	max-width: 1920px;
	font-weight: 400;
	font-size: 1.6rem;
	font-family: "Poppins Regula", Verdana, sans-serif;
	line-height: 1.2;
	color: #666666;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	width: 83.333333%;
}

.row {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.col {
	display: flex;
	flex-flow: column nowrap;
}

.col-5 {
	width: 41.666665%;
}

.col-7 {
	width: 58.333335%;
}

.col-12 {
	width: 100%;
}

.ai_c {
	align-items: center;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

		/* Header */

.cv-hdr {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	background-color: #161b25;
}

		/* Header Nav */

.cv-nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	width: 100%;
	list-style: none;
}

.cv-nav__lnk {
	display: block;
	margin: 10px 15px;
	padding: 5px 0;
	font-size: 1.8rem;
	font-family: "Poppins SemiBold", Verdana, sans-serif;
	line-height: 1.2;
	text-decoration: none;
	color: #fff;
	transition: color .2s linear;
}

.cv-nav__lnk.active {
	color: #ffcc00;
}

.cv-nav__lnk:hover {
	color: #ffcc00;
}
/* END Header Nav */

		/* Header Content  */

.col_bgc_yellow {
	background-color: #ffcc00;
}

.cv-avatar {
	width: 100%;
	background-color: #ffcc00;
}

.cv-avatar__img {
	margin: 60px 0 90px;
	width: 100%;
}

.cv-hgroup {
	margin-left: 8.333333%;
	color: #fff;
}

.cv-hgroup__title {

	margin: 60px 0 45px;
	font-size: 9.5rem;
	font-family: "Poppins SemiBold", Verdana, sans-serif;
	line-height: 1;
}

.cv-hgroup__subtitle {
	font-size: 4.2rem;
	font-weight: 400;
	font-family: "Poppins Medium", Verdana, sans-serif;
}

.cv-contacts {
	list-style: none;
}
/* END Header Content  */
/* END Header */

/* #ffcc00 */